.about {
    text-align: center;
    background-color: #fff;
}
.about__inner {
    padding: 160px 0;
}
.about__title {
    margin-bottom: 80px;
    color: #212529;
}
.about__items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__item-left {
    margin-right: 50px;

    img {
        width: 340px;
        height: 290px;
    }
}
.about__item-right {
    max-width: 550px;
    text-align: justify;

    .secondary-title {
        margin-bottom: 30px;
    }

    .paragraph {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .about__inner {
        padding: 120px 0;
    }
    .about__item-left {
        margin-right: 30px;

        img {
            width: 250px;
            height: 210px;
        }
    }
}

@media (max-width: 545px) {
    .about__inner {
        padding: 80px 0;
    }
    .about__title {
        margin-bottom: 40px;
    }
    .about__items-wrapper {
        position: relative;
    }
    .about__item-left {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        img {
            width: 330px;
            height: 280px;
        }
    }
    .about__item-right {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        position: relative;
        z-index: 2;
    }
}
